*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(74, 188, 226);
}

.app{
  background-color: rgb(74, 188, 226);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 case-out;
}

.app.warm{
  background-color: lightpink;
}

.main{
  min-height: 100vh;
  background-color: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}

.search-box{
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  display: block;

}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 25px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  transition: 0.4s case;

}

.search-box .search-bar{
  background-color: rgba(255, 255, 255, 0.5);
}

.location-box .location{
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  font-style:italic;
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position:relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(51, 102, 161, 0.2);
  border-radius: 16px;

  padding: 15px 25px;


  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather{
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
}

.weather-box .weather1{
  color: #FFF;
  font-size: 38px;
  font-style: italic;
  font-weight: 700;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h1 {
  position: fixed;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  bottom: 0;

}

#root, html, body {
  margin: 0;
  padding: 0;
  height: 50vh;
  box-sizing: border-box;
}

.cardApp {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: rgba(51, 102, 161, 0.2);
  width: 60%;
  height: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}

.heading {
  display: flex;
  align-items: center;
  height: 100px;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
  
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  

@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
}